{{ 'base.css' | asset_url | stylesheet_tag }}

<span class="accordion__toggle" aria-hidden="true">
  <span class="accordion__line accordion__line--horizontal"></span>
  <span class="accordion__line accordion__line--vertical"></span>
</span>
