.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
  color: white;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 2rem;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}

.main-page-banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-page-banner--overlay {
  position: absolute;
  inset: 0;
  display: block !important;
}

.main-page-banner--content {
  color: white;
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
